* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin-left: 20px;
}
#target-color,
#your-color {
    width: 200px;
    height: 200px;
    margin: 10px;
    margin-left: 0px;
}
input {
    width: 50px;
    display: inline;
}
#your-color-text {
    display: hidden;
}
.color-input {
    display: inline;
}
